body {
  background-color: #eeeeee;
}

#calendar_wrapper {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 750px;
  width: 920px;
}

#placeholder {
  width: 920px;
  height: 621px;
  box-shadow: 0px 0px 20px 2px #000;
}

#description {
  position: relative;
  padding: 10px 0 0 0;
}

#logo {
  position: absolute;
  right: 10px;
  top: -5px;
}
