/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'normalize'
 *= require 'sweet-alert'
 *= require_self
 */

body {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}

#all-winners-wrapper {
  margin: 0 auto;
  padding: 15px;
  width: 920px;
  position: relative;
  #all-winners {
    background-color: #FFF;
    width: 100%;
    border: 1px solid black;
    thead {
      tr th {
        padding: 15px;
      }
    }
    tbody {
      tr {
        margin-bottom: 10px;
        &:nth-child(odd) {
          background-color: #EEE;
        }
        td.number {
          padding: 15px;
          vertical-align: top;
        }
        td.prize {
          padding: 15px;
          vertical-align: top;
        }
      }
    }
  }
}

#winners {
  list-style: none;
  padding: 15px;
  #winners-item {
    padding: 0 0 10px 0;
    p {
      line-height: 2em;
      margin: 0;
    }
    .prize-name {
      font-weight: bold;
    }
    .prize-number {
      font-weight: bold;
      background-color: #FFF;
      display: inline-block;
      padding: 2px 8px;
      margin-right: 5px;
      line-height: 18px;
      border: 1px solid black;
    }
  }
}

#sponsors {
  list-style: none;
  padding: 0 20px 0 0;
  height: 80px;
  margin-bottom: 20px;
  #sponsor-item {
    float: left;
    height: 80px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

#calendar_wrapper {
  margin: 0 auto;
  padding: 15px;
  width: 920px;
  height: 621px;
  position: relative;
}

#sponsoren_wrapper {
  margin: 0 auto 30px auto;
  width: 920px;
  height: 811px;
}

#day {
  width: 920px;
  display: none;
  background-color: #fff;
  z-index: 1000;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  margin-bottom: 20px;
  min-height: 621px;
  &.revealed { display: block }
  #day-date {
    text-align: center;
  }
  #day-close {
    float: right;
    padding: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    text-decoration: none;
    &:hover {
      border-top: 2px solid transparent;
      border-right: 2px solid transparent;
      border-bottom: 2px solid #eee;
      border-left: 2px solid #eee;
    }
  }
}

#placeholder {
  width: 100%;
  box-shadow: 0px 0px 20px 2px #000;
}

#description {
  position: relative;
  padding: 10px 60px 0 0;
}

#logo {
  position: absolute;
  right: 10px;
  top: -5px;
}

#kalender {
  height: 621px;
  width: 920px;
  border: 0;
  tr, td {
    border: 0;
    padding: 0;
    margin: 0;
    border: 0;
    border-spacing: 0;
  }
  .opened {
    outline: 1px dotted black;
  }
  .disabled {
    position: relative;
  }
}

.date-on-door {
  position: absolute;
  bottom: 5px;
  right: 15px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 1ms background-color 0.2s, 1ms color 0.2s;
  padding: 3px;
  &.darken {
    color: #1d475f;
    background-color: rgba(255, 255, 255, 0.7);
  }
  &.bold {
    font-weight: bold;
  }
}

.info-opened {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 9px;
  overflow: hidden;
  display: table;
  text-decoration: none;
  h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    padding: 25px 0 0 0;
    margin: 0 0 15px 0;
    text-align: center;
    font-family:'Open Sans', Arial, sans-serif;
    color: #000;
  }
  .info-opened-action {
    text-align: center;
    button.info-opened-day-winners {
      font-size: 11px;
      padding: 5px 4px;
    }

  }
}
.item {
    margin: 0 auto;
    border-radius: 0%;
    position: relative;
    cursor: pointer;
    display: block;
    .info-front {
      background-color: #eeeeee;
    }
}
.info-wrap {
    border-radius: 0%;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    top: 20px;
    left: 20px;
    background: #f9f9f9;
}
.info {
    position: absolute;
    border-radius: 0%;
    -webkit-transform-origin: 100% 40%;
    -moz-transform-origin: 100% 40%;
    -o-transform-origin: 100% 40%;
    -ms-transform-origin: 100% 40%;
    transform-origin: 100% 40%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    background-position: center center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.info .info-back {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    -moz-transform: rotate3d(0, 1, 0, 180deg);
    -o-transform: rotate3d(0, 1, 0, 180deg);
    -ms-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);
    background: #fff;
    display: table;
    .info-back-sponsors {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      width: 100%;
      img {
        display: table-cell;
        vertical-align: middle;
        margin: 0 auto;
      }
    }
}

.item:hover .info-wrap {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8), inset 0 0 3px rgba(115, 114, 23, 0.8);
}
.item:hover .info {
    -webkit-transform: rotate3d(0, 1, 0, 150deg);
    -moz-transform: rotate3d(0, 1, 0, 150deg);
    -o-transform: rotate3d(0, 1, 0, 150deg);
    -ms-transform: rotate3d(0, 1, 0, 150deg);
    transform: rotate3d(0, 1, 0, 150deg);
    .date-on-door {
      background-color: #FFF;
      transition: background-color 0.4s, color 0.4s;
      &.darken {
        color: #FFF;
      }
    }
}
